.DS_Store
.texpadtmp/
.RData
.Rhistory
*.fdb_latexmk
*.aux
*.zip
*.fls
*.log
*.nav
*.out
*.snm
*.toc
*.pdf
!**/figure_man/*.pdf
!**/figure/*.pdf
!slides-pdf/*.pdf
!exercises-pdf/*.pdf
!style/**/*.pdf
*.gz
*.ps
*.tex.tex
.Rproj.user
*.Rproj
*.Rproj
